.nav-wrap {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.nav-flex {
  width: 100%;
  padding-block: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dfdcfe;
}

.business-nav-flex {
  width: 100%;
  padding-block: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdcfe;
}

.logo {
  margin-left: 7.5%;
}

.dropdown-control {
  display: flex;
}

.dropdown-wrap {
  position: relative;
}

.dropdown {
  position: absolute;
  padding-block: 1rem;
  width: 275px;
  padding-inline: 1rem 2rem;
  top: 120%;
  border-radius: 0.5rem;
  left: 2.5%;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    128.66deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0.939509) 77.49%,
    #dfdcfe 137.46%,
    #5f61a8 148.75%
  );
  transition: all 500ms;
}

.dropdown-off {
  position: absolute;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  top: 120%;
  border-radius: 0.5rem;
  left: 2.5%;
  transform: translateY(-150%);
  opacity: 0;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    128.66deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0.939509) 77.49%,
    #dfdcfe 137.46%,
    #5f61a8 148.75%
  );
  z-index: 11;
  transition: all 500ms;
}

.dropdown2 {
  width: 10.5rem;
  position: absolute;
  padding-block: 1rem;
  padding-inline: 0.75rem;
  top: 100%;
  border-radius: 0.5rem;
  border: 2px;
  right: -300%;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    128.66deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0.939509) 77.49%,
    #dfdcfe 137.46%,
    #5f61a8 148.75%
  );
  z-index: ;
  transition: all 500ms;
}

.rotate {
  transform: rotate(-360deg);
  transition: all 750ms;
}

.rotate2 {
  transform: rotateY(360deg);
  transition: all 750ms;
}

.rotate0 {
  transform: rotate(0deg);
  transition: all 750ms;
}

.dropdown-off2 {
  position: absolute;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  top: 100%;
  border-radius: 0.5rem;
  right: -300%;
  filter: brightness(90%);
  transform: translateX(150%);
  opacity: 0;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    128.66deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0.939509) 77.49%,
    #dfdcfe 137.46%,
    #5f61a8 148.75%
  );
  transition: all 500ms;
}

.dropdown-list {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #060132;
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.dropdown-list:hover  {
  text-decoration: underline;
}

.dropdown-list:active {
  color: #5f61a8;
}

.userFn {
  width: fit-content;
  position: absolute;
  top: 25%;
  right: -2.5%;
  transform: translate(-25%, 2.5%);
}

.user-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.business {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5px;
}

.review {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #060132;
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  line-height: 1.25rem;
}

.display-wrap {
  margin-top: 2rem;
  width: fit-content;
  margin-inline: auto;
}

.sign-wrap {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.business-sign-wrap {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 7.5rem;
  gap: 2rem;
}

.sign_in {
  /* width: 6rem; */
  padding: 0.625rem 1.5rem;
  text-decoration: none;
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  text-align: center;
  border: 1px solid var(--Secondary-main, rgba(114, 112, 125, 1));
  border-radius: 0.25rem;
  color: rgba(6, 1, 50, 1);
}

.sign_up {
  /* width: 6rem; */
  padding: 0.625rem 1.5rem;
  text-decoration: none;
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  text-align: center;
  background-color: var(--Primary-light-main, rgba(223, 220, 254, 1));
  border: none;
  border-radius: 0.25rem;
  color: rgba(6, 1, 50, 1);
}