.home-first-section {
    margin-top: clamp(1.5rem, -1.2885rem + 11.1538vw, 8.75rem);
    width: 100%;
}

.intro-header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(2rem, 1.2308rem + 3.0769vw, 4rem);
    color: #060132;
    text-align: center;
    line-height: 4rem;
}

.intro-desc {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1rem, 0.9038rem + 0.3846vw, 1.25rem);
    color: #72707D;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.search-wrap {
    width: clamp(21.875rem, 17.6202rem + 17.0192vw, 32.9375rem);
    margin-inline: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.searchbar {
    width: 85%;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid #72707D;
    font-size: 1rem;
    color: #060132;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.searchbar::placeholder {
    font-size: 1rem;
    color: #72707D;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.searchbar:focus {
    outline-color: #5F61A8;
    outline-width: 1px;
    border: none;
}

.home-button {
    background-color: #5F61A8;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding: 1.125rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
    font-weight: 600;
}

.home-image-wrap {
    width: clamp(21.875rem, 3.5096rem + 73.4615vw, 69.625rem);
    margin-inline: auto;
    margin-top: 3.5rem;
}

/* .home-slider-image{
    width: auto;
} */

.categories-section {
    width: 80%;
    margin-inline: auto;
    overflow-x: hidden;
}

.business-grid-wrap {
    width: 100%;
}

.categories-header {
    margin-block: 3rem 1rem;
    font-size: clamp(1rem, 0.9038rem + 0.3846vw, 1.25rem);
    color: #060132;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.category-grid {
    width: 100%;
    display: grid;
    gap: clamp(1rem, 0.3077rem + 2.7692vw, 2.8rem);
    grid-template-columns: repeat(auto-fit, minmax(6.375rem, 11.69rem));
    place-content: center;
}

.homepage-category {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    min-width: clamp(6.375rem, 4.3308rem + 8.1769vw, 11.69rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: clamp(0.625rem, -0.3846rem + 4.0385vw, 3.25rem);
    padding-block: clamp(1.375rem, 0.5577rem + 3.2692vw, 3.5rem);
    border: 1px solid var(--Secondary-light, rgba(242, 242, 242, 1));
    border-radius: 0.5rem;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 2px #F2F2F2;
}

.category-title {
    font-size: clamp(0.875rem, 0.7308rem + 0.5769vw, 1.25rem);
    color: #060132;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.business-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    gap: 1.25rem;
    place-content: center;
}

@media(max-width: 814px) {

    .categories-section {
        width: 100%;
        margin-inline: auto;
    }

    .categories-header {
        margin-inline: 1.5rem;
    }
}

@media(max-width: 724px) {

    /* .business-grid-wrap {
        width: ;
    } */

    .category-grid {
        width: 100%;
        display: grid;
        gap: clamp(1rem, 0.3077rem + 2.7692vw, 2.8rem);
        grid-template-columns: repeat(auto-fit, minmax(1rem, 6.375rem));
        place-content: center;
    }

    .overflow-x {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        
        padding-bottom: 12px;
    }

    
    .business-grid {
        gap: 1rem;
        margin-inline: 2px;
        display: inline-flex;
        padding: 0.5rem;
    }

    .card-wrapper {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }
}